#siteLogo {
	font-size: 2.25em;
	margin-top: 1.8em;
}
.navBar_Content {
	font-family: Lato;
	display: inline-block;
	margin-right: 125px;
	cursor: default;
}
.nonLogo-Navbar_Content {
	transition: color 0.35s;
}
.nonLogo-Navbar_Content:hover {
	color: chocolate;
}
/*.dropDown_Header {
	list-style-type: none;
}*/
#mockNavbar_whenScrolled {
	background: ;
}