body {
	background: rgb(173,159,133);
	height: 100%;
}
a {
	text-decoration: none;
}
#siteLogo {
	cursor: default;
	color: black;
	font-size: 2.25em;
	margin-left: 125px;
}
a.nonLogo-Navbar_Content {
	text-decoration: none;
	color: black;
}
.navBar_Content {
	font-family: Lato;
	display: inline-block;
	margin-right: 125px;
	cursor: default;
}
.nonLogo-Navbar_Content {
	transition: color 0.35s;
}
.nonLogo-Navbar_Content:hover {
	color: chocolate;
}
/*.dropDown_Header {
	list-style-type: none;
}*/
.navBar {
	position: fixed;
	top: 0;
/*	opacity: 0.45; Testing...*/
	background: rgba(215,215,215,1.0);
	width: 100%;
	left: 0;
}
#prompt {
	background: rgb(173,159,133); /*Temporary background...*/
	position: absolute;
	height: 100%;
	width: 100%;
	right: 0;
	left: 0;
	top: 0;
}
.headerTxt {
	margin-top: 15%;
	text-align: center;
	opacity: 0.45;
	font-family: Lato;
	font-size: 3.85em;
	transition: all 0.75s;
	-moz-transition: all 0.75s;
	-webkit-transition: all 0.75s;
	-o-transition: all 0.75s;
}
#solidLogos {
	position: absolute;
	top: 100%;
	height: 85%;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat center center;
	background-size: 100%;
	background-image: url('Image Files/Clock.jpg');
}
#clockHeader {
	margin-top: 550px;
	margin-bottom: 15px;
}